* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: serif;
    background-color: #7c3af8;
}

.button {
    position: relative;
    padding: 15px 20px;
    font-size: 1.5rem;
    background-color: #fff;
    display: inline-block;
    text-decoration: none;
    color: #5c4800;
    cursor: pointer;
    border-radius: 4px;
    transition: 0.5s;
}

.button:hover {
    letter-spacing: 0.1rem;
}

#newsLetter {
    position: fixed;
    top: -100%;
    left: 50%;
    transform: translate(-50%, 50%);
    background-color: #fff;
    z-index: 1000;
    width: 450px;
    padding: 80px 50px 50px;
    transition: 0.5s;
    border-radius: 4px;
    visibility: hidden;
}

#newsLetter.active {
    visibility: visible;
    top: 50%;
}

#newsLetter h2 {
    text-align: center;
    font-size: 24px;
    color: #5c4800;
    margin: 20px 10px;
}

#newsLetter p {
    text-align: center;
    color: #5c4800;

}

#newsLetter .box {
    display: relative;
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;


}

input, button {
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 15px;
    outline: none;
    font-size: 1rem;
    font-family: serif;
}

button {
    border: none;
    width: 150px;
    letter-spacing: 0.1rem;
    background-color: #7c3af8;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;

}

.close {
    position: absolute;
    cursor: pointer;
    top: 15px;
    right: 20px;
}